@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: silk --default;
}

:root {
  --neon-text-color: rgb(153, 0, 255);
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px dashed red; */
}

body {
  height: 100vh;
  
}

.heading {
  text-align: center;
  margin: 1.5rem 0;
}

h1 {
  margin-top: 1rem;
  font-size: 5rem;
  font-weight: 700;
  /* color: #2965f1; */
  text-align: center; 
  color: #FFF;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #2965f1,
    0 0 21px #4378f1,
    0 0 42px #5c89f3,
    0 0 82px #2965f1;
}

small {
  font-size: 1.3rem;
}

.neon {
  color: #ffffff;
  animation: flicker 2s infinite alternate;
}

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    text-shadow:
      -0.2rem -0.2rem 1rem #fff,
      0.2rem 0.2rem 1rem #d5a2f7,
      0 0 2rem var(--neon-text-color),
      0 0 4rem var(--neon-text-color),
      0 0 6rem var(--neon-text-color),
      0 0 10rem rgb(183, 0, 255);
  }
  20%, 24%, 55% {        
    text-shadow: none;
    box-shadow: none;
  }    
}

.searchbox {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.searchInput {
  margin: 1.5rem 0;
  height: 3.5rem;
  font-size: 1.3rem;
}

.icons {
  margin-left: 0.5rem;
  width: 2rem;
}

.carousel {
  width: 100%;
  height: 100%;
}

.carousel-item {
  margin: auto;
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 40%; */
}

.card {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  max-width: 90%;
}

.card * {
  display: flex;
  justify-content: center;
}

.cardImg {
  /* width: clamp(20%, 500px, 80%);
  object-fit: cover; */
  width: 45rem;
  height: 40rem;
  padding: 0.8rem;
  border-radius: 5%;
}

.card-body {
  padding: 0.5rem 1rem;
}

h2 {
  font-size: 1.3rem;
  font-weight: bold;
}

p {
  font-size: 1.2rem;
  font-style: italic;
}

@media only screen and (max-width: 600px) {
  /* body{
    overflow-y: hidden;
  } */
  h1 {
    font-size: 3rem;
  }
  small {
    font-size: 0.9rem;
  }
  .searchInput {
    margin: 1rem 0;
    height: 2.5rem;
    font-size: 1rem;
    width: 75%;
  }
  .carousel {
    height: 30%;
  }
  .carousel-item {
    margin: auto;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  .cardImg {
    object-fit: cover;
    width: 100%;
    height: 40%;
    height: clamp(80%, 40%, 20%);
  }
  h2 {
    font-size: 1.1rem;
  }
  
  p {
    font-size: 1rem;
  }
}